<mat-nav-list [ngClass]="{ 'list-horizontal': horizontal }">
  <% if(generateEvents) { %>
  <a mat-list-item routerLink="/events" routerLinkActive="router-link-active"
    >Events</a
  >
  <% } %> <% if(pastTalks.length > 0) { %>
  <a mat-list-item href="<%= pastTalks %>">Talks</a>
  <% } %> <% if(twitter.length > 0) { %>
  <a mat-list-item href="https://twitter.com/<%= twitter %>" class="social-link"
    ><img
      src="assets/img/twitter.svg"
      alt="twitter Logo"
      class="social-logo"
      id="twitter-logo"
  /></a>
  <% } %>
</mat-nav-list>
